<body>
  {% include sections/body/header.html %}

  <main class="container content">
  	<div class="tab-content" id="pageTabContent">
  		<div class="tab-pane fade show active" id="read" role="tabpanel" aria-labelledby="read-tab">
  			{{ content }}
  		</div>
  		<div class="tab-pane fade" id="source-code" role="tabpanel" aria-labelledby="source-code-tab">
  			{% if site.github.repository_nwo %}
  			{% if page.collection %}
  			{% assign path = 'wiki/' | append: page.path %}
  			{% else %}
  			{% assign path = page.path %}
  			{% endif %}
  			{% assign repo = site.github.repository_nwo %}
  			{% assign blob = site.github.build_revision %}

  			<b>Repository</b>: {{ repo }}<br>
  			<b>Build revision</b>: {{ blob }}<br>
  			<b>File path</b>: {{ path }}<br>


  			{% github_include %}
  			{% else %}
  			<div class="alert alert-warning" role="alert">
  				This feature is only available when publishing on Github pages.
  			</div>
  			{% endif %}
  		</div>
  	</div>
  </main>

  {% include sections/body/footer.html %}
</body>
